# --------------------------------
# PYTHON
# --------------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env.bak/
env.bak/

# --------------------------------
# ENVIRONMENT FILES
# --------------------------------
.env
.env.*
*.env

# --------------------------------
# DJANGO FILES
# --------------------------------
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# Local Django logs
*.log
logs/
*.pot

# --------------------------------
# PYCHARM / VS CODE
# --------------------------------
.idea/
.vscode/

# --------------------------------
# OS FILES
# --------------------------------
.DS_Store
Thumbs.db

# --------------------------------
# COMPILED
# --------------------------------
*.so
*.dll

# --------------------------------
# BACKUP & TEMP FILES
# --------------------------------
*.bak
*.tmp
*.swp

# --------------------------------
# PYTHON PACKAGES
# --------------------------------
dist/
build/
*.egg-info/
.eggs/
